#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navContainer {
  background-color: #f5f5f5;
  padding: 1rem;
}
.navContainer > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style-type: none;
}
.userContainer > ul {
  list-style-type: none;
}
.userContainer > ul > li {
  background-color: #a77070;
}
